.btn-primary{
    background-color: rgb(243, 177, 54);
    border:0;
    border-radius: 10px;
}

.card{
    border-radius: 20px;
}

.card-img-top {
    border-radius:20px;
}

.card:hover { 
    transform: scale(1.1);
    cursor:zoom-in;
    transition: transform 1.5s ease;
}
