body{

    font-family: 'Exo', sans-serif;
    background-image:url(./assets/login/background.jpg) ;
    background-attachment: fixed;
}

.brandlogo{
    width: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer{
    margin-bottom: 50px;
  }

.brandlogoFooter {
    width: 100px;
}




